@import '../styles/base';

.address {
	width: 100%;
	text-align: center;
	padding: 30px 10px 30px 10px;
	background: url(../public/images/address-bg.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
}
.addressSection {
	height: 100%;
	background-color: rgba(251, 224, 227, 0.349);
	padding: 20px 15px 20px 15px;
	border-radius: 8px;
	box-shadow: 0 3px 6px -4px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
	@include media-breakpoint-down(sm) { // < 576px
    height: auto;
  }
}
.calendar {
}
.calendar:hover {
	transition: transform .3s,box-shadow .3s,background-color .3s,color .3s,opacity .3s,-webkit-transform .3s,-webkit-box-shadow .3s;
}
.schedule {
	border-radius: 8px;
	background: white;
	margin-bottom: 20px;
	padding: 15px;
}
.calendarImage {
	filter: drop-shadow(0px 0px 6px #ebf130);
	object-fit: cover;
}
.scheduleImage {
	width: 90px;
	@media (max-width: 400px) {
		width: 70px;
	}
}
.gmapCanvas {
	overflow: hidden;
	background: none!important;
	height: 100%;
	width: 100%;
}
.mapouter{
	position: relative;
	text-align: right;
}
