.address {
	width: 100%;
	text-align: center;
	padding-top: 20px;
}
.gmapCanvas {
	overflow:hidden;
	background:none!important;
	height: 100%;
	width: 100%;
}
.mapouter{
	position: relative;
	text-align: right;
	height: 400px;
	width: 70%;
	margin: auto;
}
