.header {
	width: 100%;
	height: 57px;
	background: #413655;
	color: rgba(184, 140, 158, 1);
	.nav {
		margin: 0 auto;
		width: 400px;
		display: flex;
		justify-content: space-around;
		line-height: 57px;
	}
	.navItem {
	}
}
.footer {
	background: #413655;
  height: 30px;
	width: 100%;
  position: fixed;
  bottom: 0;
}