.loveStoryText {
	width: 336px;
	margin-top: 20px;
	margin-bottom: 30px;
}
.loveStoryImage {
	margin-bottom: 20px;
	object-fit: contain;
	width: 75%;
	border: 9px solid #4c1f61;
}
.storyText {
	font-size: 1.5rem;
}
.verticalLine {
  width: 100%;
	max-width: 80px;
}