.loveStoryText {
	width: 336px;
	margin-top: 20px;
	margin-bottom: 30px;
}
.loveStoryImage {
	margin-bottom: 20px;
	object-fit: contain;
}
.storyText {
	display: flex;
	align-items: center;
}
.verticalLine {
  width: 100%;
	max-width: 80px;
}