@import 'base';

.sectionBackground {
  // background: url(/images/section-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.contentWrapper {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
  @include media-breakpoint-down(lg) { // < 992px
    width: 70%;
  }
  @include media-breakpoint-down(md) { // < 768px
    width: 70%;
  }
  @include media-breakpoint-down(sm) { // < 576px
    width: 100%;
  }
}

.coupleImage {
  max-width: 490px;
  height: 700px;
  margin-top: -300px;
  border: 5px solid #ececec;
  position: absolute;
  z-index: 3;
  margin-left: 30px;
  @include media-breakpoint-down(lg) { // < 992px
    height: 585px;
  }
  @include media-breakpoint-down(md) { // < 768px
    height: 505px;
    position: relative;
    margin-top: -180px;
    margin-left: 0;
  }
  @include media-breakpoint-down(sm) { // < 576px
    height: 380px;
    margin-top: -140px;
  }
  @media (max-width: 400px) { // < 400px
    height: 300px;
    margin-top: -70px;
  }
  @media (max-width: 270px) { // < 330px
    height: 200px;
    margin-top: -40px;
  }
  @include media-breakpoint-up(xxl) { // > 1400px
    height: 735px;
  }
}

.weddingCard {
  width: 100%;
  border-radius: 20px;
  border: 1px solid black;
}

.verticalLine {
  width: 3px;
  height: 70px;
  background-color: pink;
  margin: auto;
}

.sectionText {
  font-family: 'Dancing Script', sans-serif;
  font-size: 2.5rem;
}

.thankYouText {
  font-family: 'Dancing Script', sans-serif;
  font-size: 3rem;
}
