@import 'base';

.sectionBackground {
  // background: url(/images/section-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.contentWrapper {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.coupleImage {
  max-width: 490px;
  height: 700px;
  margin-top: -300px;
  border: 5px solid #ececec;
  position: absolute;
  z-index: 3;
  margin-left: 30px;
  @include media-breakpoint-down(lg) { // < 992px
    height: 585px;
  }
  @include media-breakpoint-down(md) { // < 768px
    height: 505px;
    position: relative;
    margin-top: -180px;
    margin-left: 0;
  }
  @include media-breakpoint-down(sm) { // < 576px
    height: 400px;
    margin-top: -140px;
  }
  @media (max-width: 400px) { // < 400px
    height: 300px;
    margin-top: -70px;
  }
  @include media-breakpoint-up(xxl) { // > 1400px
    height: 735px;
  }
}

.weddingCard {
  width: 100%;
  border-radius: 20px;
  border: 1px solid black;
}

.verticalLine {
  width: 4px;
  height: 70px;
  background: black;
  margin: auto;
  margin-top: 20px;
}

.sectionText {
  font-family: 'Dancing Script', sans-serif;
  font-size: 2.5rem;
}

.thankYouText {
  font-family: 'Dancing Script', sans-serif;
  font-size: 45px;
}

.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}